# =============== Flutter(frontend_flutter) ===============
/frontend_flutter/.dart_tool/
/frontend_flutter/.idea/
/frontend_flutter/.packages
/frontend_flutter/build/
/frontend_flutter/pubspec.lock

# Optional: VSCode
/frontend_flutter/.vscode/

# =============== Spring Boot(back or backend_spring) ===============
/back/.gradle/
/back/build/
/back/out/
/back/.idea
/back/.classpath
/back/.project
/back/.settings/
/back/bin/

# Optional: IntelliJ
/back/.vscode/
