# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode settings (optional)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android build artifacts
android/app/debug
android/app/profile
android/app/release
android/.gradle/
android/local.properties

# iOS 관련
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/.symlinks/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies

# macOS 관련
macos/Flutter/ephemeral/
macos/Flutter/generated.xcconfig
macos/Pods/
macos/build/
macos/.symlinks/

# Web 관련
web/.dart_tool/
web/build/

# Windows 관련
windows/ephemeral/
windows/build/

# Linux 관련
linux/ephemeral/
linux/build/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Firebase
firebase_app_id_file.json

# Env file
.env
